.column-container{
  display:flex;
  margin: 5em 2em;
}
.copy-container{
  flex-basis: 0;
  padding: 0.98em 0 3.4em 3.4em;
  flex-grow:1;
}

.copy-container h1{
  margin:.6em 0;
  color:white;
  font-size: 2.59em;
  font-family: 'Poppins';
  word-spacing: -0.11em;
  letter-spacing: -.003em;
  font-weight:600;
  line-height: 1.4em;
}
.copy-container p{
  font-family: 'Open sans';
  color: hsla(360, 100%, 100%, .65);
  font-size: 1.1rem;

  line-height:1.4em;
  word-spacing: .15em;
}
.copy-container button{
  margin-top: 1em;
  padding: 0.9em 3em;
  border-radius: 40px;
  font-size: 1.266em;
  font-family: 'Open sans';
  color: hsl(257, 40%, 49%);
}
.column-container svg{
  flex-basis: 54.5%;
}